#pintar{  
      background-color:black; 
      color: white;

}

 body{
    font-weight: bold;
 }

footer {
   height: 195px;
   background-color: black;
   margin-top: 30%;
   position: relative;
   color : white;
   font-family: sans-serif;
   font-size: medium;
}

